*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
  padding: 0 5px;
}
figure{
	display: block;
}
.App {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: "header header header" 
                       "nav content content";
}
.content{
  outline: 1px solid #000;
  grid-area: content;
}